<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Timeout" value="0"/>								<!-- Timeout para conexões SQL Server -->
		<add key="TCPIP" value="true"/>								<!-- true = 'TCPIP' or false = 'Named Pipes'-->
		<add key="ApplicationName" value="MGI Importação"/>			<!-- Nome da Aplicação -->
		
		<add key="ComputerMGI" value="CARTVAPP"/>					<!-- sbtsqlcartv Nome do Computador SQL Server -->
		<add key="ServerMGI" value="104.154.168.175,1435"/>				<!-- sbtsqlcartv\desenvolvimento Nome da Serviço / Servidor SQL Server -->
		<add key="DatabaseMGI" value="MGI_JC_REDE"/>						<!-- Nome do DataBase SQL Server -->
		<add key="UsrMGI" value="USRSCTVWEB"/>					<!-- Nome do Usuario SQL Server -->
		<add key="PwdMGI" value="PWSSCTVWEB"/>				<!-- Password do Usuario SQL Server -->
		<add key="PathRAR_MGI" value="E:\MGI_FILES\RAR\"/>		<!-- Path do Aplicativo RAR.exe -->
		<add key="PathXML_MGI" value="E:\MGI_FILES\XML\"/>		<!-- Path dos Arquivos .XML e .RAR -->
	  <add key="PathFTP_MGI" value="E:\MGI_FILES\FTP\"/>		<!-- Path do FTP -->
	  <add key="Origem_MGI" value="1"/>				 			<!-- ID da Origem Padrão dentro do MGI -->
		
		<add key="SmtpServer" value="SMTP.CARTV.COM.BR"/>					<!-- Nome do Servidor SMTP -->
    <add key="SmtpUser" value="SUPORTE@CARTV.com.br"/>			<!-- Usuario do Email -->
    <add key="SmtpPwd" value="sancorp2"/>			<!-- Usuario do Email -->
    <add key="SmtpPorta" value="587" />
    
		<add key="MailMessageFrom" value="SUPORTE@CARTV.com.br"/>			<!-- Nome do Remetente de Email -->
		<add key="MailPriority" value="2"/>							<!-- Prioridade do EMail MailPriority.Normal = 0 | MailPriority.Low = 1 | MailPriority.High = 2 -->
		<add key="MailMessageTo" value="joao_maria001@hotmail.com"/>		<!-- Lista Destinatario do Email -->
		<add key="MailMessageCc" value=""/>							<!-- Lista Copia do Email -->
		<add key="MailMessageCco" value=""/>						<!-- Lista Copia Oculta do Email -->
		<add key="MailSubject" value="Servico Mgi Importacao - Sim "/>				<!-- Subject Email -->
		<add key="MailBody" value="Servico Mgi Importacao - Sim "/>				<!-- Body EMail -->

	    <add key="StartFTPChecking" value="06:00"/>					<!-- Horario Inicial para FTP checking -->
	    <add key="EndFTPChecking" value="18:00"/>					<!-- Horario Termino para FTP checking -->
	    <add key="TimerFTPChecking" value="2"/>					<!-- Minutos para FTP Checking -->
		<add key="FormatoLog" value="yyyyMMdd"/>					<!-- Formato do nome do arquivo de Log -->
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
